HDFS_HOST=localhost
HDFS_PORT=9000
DFS_REPLICATION=1

JAVA_RELATIVE_DIR=runtime/java
HADOOP_RELATIVE_DIR=runtime/hadoop
HADOOP_CONF_RELATIVE_DIR=config/hadoop

HDFS_STORE_RELATIVE_DIR=runtime/hdfs-store
HDFS_TMP_RELATIVE_DIR=runtime/hdfs-store/tmp
HDFS_NAMENODE_RELATIVE_DIR=runtime/hdfs-store/namenode
HDFS_DATANODE_RELATIVE_DIR=runtime/hdfs-store/datanode

PROJECT_HDFS_ROOT=/project/cinema
PROJECT_HDFS_RAW_MOVIELENS=/project/cinema/raw/movielens
PROJECT_HDFS_RAW_TMDB=/project/cinema/raw/tmdb
